<!-- <div class="row">
    <h1 class="text-center">Edit Frame</h1> -->
    <form action="/frames/<%= frame._id %>?_method=PUT" class="needs-validation" method="POST" novalidate>
        <div class="mb-3">
            <label for="title"  class="form-label" style="font-weight: 500;">Title <strong style="color: red;">*</strong></label>
            <input type="text" class="form-control" placeholder="enter title" id="title" name="frame[title]" value="<%= frame.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a title/name for the frame!
            </div>
        </div>

        <div class="mb-3">
            <label for="description"  class="form-label" style="font-weight: 500;">Description</label>
            <textarea type="text" class="form-control" placeholder="enter description (optional)" id="description" name="frame[description]"><%= frame.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        
        <div class="mb-3">
            <label for="words"  class="form-label" style="font-weight: 500;">Words <strong style="color: red;">*</strong></label>
            <input type="text" class="form-control" placeholder="enter words" id="words" name="frame[words]" value="<%= frame.words %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter word(s) associated with frame so we can scan for them!
            </div>
        </div>
        <div class="mb-3">
            <label for="color"  class="form-label" style="font-weight: 500;">Color <strong style="color: red;">*</strong></label>
            </br>
            <input type="color"  placeholder="enter color" id="color" name="frame[color]" value="<%= frame.color %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please pick a color for this frame!
            </div>
        </div>                 
        <div class="mb-3">
            <button class="btn rounded-pill border shadow-sm" style="background-color: rgba(255, 255, 255, 0.722);">Confirm Edit</button>
            <a class="btn rounded-pill border shadow-sm border border-1 border-secondary" href="/frames" style="background-color: #1c1c1c88;  color:#fafcff">Cancel Edit</a>
        </div>
    </form>
<!-- </div> -->

<!-- <h1>Edit Frame</h1>
<form action="/frames/<%= frame._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="frame[title]" placeholder="enter the frame's title/name" value="<%= frame.title %>">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="frame[description]" placeholder="enter the frame's description" value="<%= frame.description %>">
    </div>
    <div>
        <label for="words">Words</label>
      
    </div>
    <button>Update Frame</button>
</form>
<a href="/frames">Back To Frames</a> -->
