    <form action="/frames/<%= frame._id %>?_method=PUT" class="needs-validation" method="POST" novalidate>
        <p class="mb-1" style="color: rgb(241, 66, 66);"><strong style="color: rgb(241, 66, 66);">*</strong> Indicates required field</p>
        <div class="mb-3">
            <label for="title"  class="form-label">Title <strong style="color: red;">*</strong></label>
            <input type="text" class="form-control" placeholder="enter title" id="title" name="frame[title]" value="<%= frame.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a title/name for the frame!
            </div>
        </div>

        <div class="mb-3">
            <label for="description"  class="form-label">Description</label>
            <textarea type="text" class="form-control" placeholder="enter description (optional)" id="description" name="frame[description]"><%= frame.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        
        <div class="mb-3">
            <label for="words"  class="form-label">Words <strong style="color: red;">*</strong></label>
            <input type="text" class="form-control" placeholder="enter words" id="words" name="frame[words]" value="<%= frame.words %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter word(s) associated with frame so we can scan for them!
            </div>
        </div>
        <div class="mb-3">
            <label for="color"  class="form-label">Color <strong style="color: red;">*</strong></label>
            </br>
            <input class="p-0 border-secondary" type="color"  placeholder="enter color" id="color" name="frame[color]" value="<%= frame.color %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please pick a color for this frame!
            </div>
        </div>                 
        <div class="mb-3">
            <button class="btn rounded-pill shadow-sm mb-3 border border-1 border-secondary" style="background-color: rgba(255, 255, 255, 0.722);padding: 9px 24px;">confirm edit</button>
            <br>
            <a class="btn rounded-pill border shadow-sm border border-1 border-secondary mb-3" href="/frames" style="background-color: #1c1c1c88;  color:#fafcff;padding: 9px 24px;">cancel edit</a>
        </div>
    </form>
