<%- layout('layouts/boilerplate') %>
<h1>Edit Frames</h1>
<a class="btn btn-primary mb-3" href="/frames">Back To All Frames</a>
<div class="row">
  <% for (let i = count - 1; i > -1; i--) { %>
    <div class="col-sm-3 mb-4 mb-sm-0">
      <div class="card mb-4" id="card<%= frames[i]._id%>">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <% if (frames[i]._id.equals(frame._id)) { %>
            <div class="card-body" style="box-shadow: 0 0 40px #9ecaed;" id="cardToEdit">
                <%- include('../partials/editPartial') %>
            </div>
        <% } else { %>
            <div class="card-body">
                <h3 class="card-title"><%= frames[i].title %> frame</h3>
                <p class="card-text" style="font-weight: 500;  margin-bottom: 10px; margin-top: 20px;">Description </p>
                <p  class="card-text"><%= frames[i].description %></p>
                <!-- </br> -->
                <center>
                  <hr style="width: 90%">
                </center>
                <!-- </br> -->
                <p style="font-weight: 500; margin-bottom: 0px; margin-top: 10px;">Words</p>
            </div>
            <ul class="list-group list-group-flush">
              <% for (let word of frames[i].words) { %>
                <li class="list-group-item"><%= word %></li>
              <% } %>
              <!-- <li class="list-group-item">
                <a class="card-link btn btn-info"href="#">Add New Word</a>
              </li> -->
            </ul>
            <div class="card-body">
              <a class="card-link btn btn-warning" href="/frames/<%= frames[i]._id %>/edit/#cardToEdit">Edit</a>
              <!-- <button id="btn<%= frames[i]._id%>" onclick="showEditForm(this.id)"></button> -->
            </div>
           
        <% } %>
      </div>
    </div> 
<% } %>
</div>

<script src="/scripts/validateForms.js"></script>