<%- layout('layouts/boilerplate') %>
<h1 class="text-center">Add Frames</h1>
<div class="row">
  <div class="col-8 offset-2">
    <%- include('../partials/howToUseAdd') %>
  </div>

<div>
    <!-- <a class="btn btn-info mb-3" href="/frames/new">Add A New Frame</a> -->
    <!-- <button class="btn btn-info mb-3" id="nextFrameBtn" onclick="makeNewAccordionWForm()">Add Next Frame</button> -->
    <%- include('../partials/frameForm') %>
</div>
<div class="row">
  <% for (let i = count - 1; i > -1; i--) { %>
    <div class="col-sm-3 mb-4 mb-sm-0">
      <div class="card mb-4" id="card<%= frames[i]._id%>">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h3 class="card-title"><%= frames[i].title %> frame</h3>
          <p class="card-text" style="font-weight: 500;  margin-bottom: 10px; margin-top: 20px;">Description </p>
          <p  class="card-text"><%= frames[i].description %></p>
          </br>
          <center>
            <hr style="width: 90%; color:rgb(101, 179, 189); ">
          </center>
          </br>
          <p style="font-weight: 500; margin-bottom: 0px; margin-top: 10px;">Words</p>
        </div>
        <ul class="list-group list-group-flush">
          <% for (let word of frames[i].words) { %>
            <li class="list-group-item"><%= word %></li>
          <% } %>
          <!-- <li class="list-group-item">
            <a class="card-link btn btn-info"href="#">Add New Word</a>
          </li> -->
        </ul>
        <div class="card-body">
          <a class="card-link btn btn-warning" href="/frames/<%= frames[i]._id %>/edit/#cardToEdit">Edit</a>
          <!-- <button id="btn<%= frames[i]._id%>" onclick="showEditForm(this.id)"></button> -->
          <form class="d-inline" action="/frames/<%= frames[i]._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div> 
<% } %>
</div>

<div class="d-grid gap-2 col-2 mx-auto mb-5">
    <a class="btn btn-outline-success" href="/frames/scan" role="button">Start Scanning</a>
</div>
<script src="/scripts/import.js"></script>
