<%- layout('layouts/boilerplate') %>
<h1>All Frames</h1>
<div>
    <a class="btn btn-info mb-3" href="/frames/new">Add A New Frame</a>
</div>
<% for (let frame of frames) { %>
    <div class="card mb-3" style="width: 45rem;" >
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h3 class="card-title"><%= frame.title %></h3>
          <p class="card-text"><%= frame.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <% for (let word of frame.words) { %>
            <li class="list-group-item"><%= word %></li>
          <% } %>
          <li class="list-group-item">
            <a class="card-link btn btn-info"href="#">Add New Word</a>
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link btn btn-warning" href="/frames/<%= frame._id %>/edit">Edit</a>
          <form class="d-inline" action="/frames/<%= frame._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
    </div>
<% } %>
<div class="mb-3">
    <a class="btn btn-success" href="#">Start Scanning</a>
</div>


