<%- layout('layouts/boilerplate') %>
<div class="row"> 
    <div class="col-3 offset-9">
        <div class="mb-3" id="exportBtns">
            <a href="" class="btn btn-warning" id="exportResultsBtn" style="background-color: #ffe69b;">Export Results</a>
            <a href="" class="btn btn-warning" id="exportFramesBtn" style="background-color: #ffe69b;">Export Frames</a>
        </div>
    </div>
    <div class="col-8 offset-2">
        <%- include('../partials/howToUseScan') %>
        <div class="accordion" id="accordion" style=" display: none; margin-bottom: 50px;">  </div>
            <div id="results0" style="display: none;">
                <p id="outputText0" class="rounded-text-box" style="background-color: #F4F5F5;
                    border-radius: 20px; width: 50%;
                    min-width: 400px;
                    float: left;
                    height: auto;
                    padding: 3%;
                    border-radius: 10px;
                    margin-left: 5%;
                    background-color: #F4F5F5;
                    margin-bottom: 200px;"> 
                </p>
                
                <div id="chartPar0" style="width: 650px; margin-bottom: 50px">
                    <canvas id="myChart0" aria-label="pie chart for scan" role="pie chart">
                        <p>Pie chart breaking down instances of frames found</p>
                    </canvas> 
                    
                </div>
            </div>
      
        <div class="d-grid gap-2 col-3 mx-auto" id="newScanBtnDiv">
            <button id="newScanBtn" class="btn btn-primary" style="display: none; margin-bottom: 40px; background-color: rgb(255, 169, 199); border-radius: 30px; border-color: rgb(255, 28, 142);">Scan Again</button>
        </div>
        <form class="mb-3" id="inputForm">
            <div class="mb-3">
                <textarea class="form-control" id="inputText" spellcheck="true" style="height: 350px;" placeholder="Enter your text here!" ></textarea>  <!-- background-color: #fee6fc; -->
            </div>
            <p>&nbsp;</p>
            <!-- <p><input id="scanArticle" class="btn btn-success btn-large mx-auto" type="button" value="Scan Article" /></p> -->
            <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-success btn-lg" type="button" id="scanArticleBtn" style="background-color: rgb(164, 252, 164); border-radius: 30px; color: rgb(30, 30, 30); border-color: rgb(228, 255, 228);">Scan Text</button>  
              </div>
            <br />
            <!-- <div class="card text-center d-grid gap-2 col-6 mx-auto" id="clrBlnd">
                <div class="card-body">
                  <h5 class="card-title">Need color-blind friendly colors?</h5>
                  <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked">
                        Yes, please!
                    </label>
                  </div>
                </div>
            </div>             -->
        </form>
        
        <!-- <div id="frameMessage"   style="display: none; 
                                        color: black;
                                        position: sticky;
                                        width: 30%;
                                        float: right;
                                        margin-top: -950px;
                                        padding: 1%;
                                        right:5%;
                                        border-radius: 10px;
                                        top: 0px;"> -->
            <% for (let frame of frames) {%>
                <aside id="<%= frame._id %>"  style="display: none; 
                    color: black;
                    position: sticky;
                    width: 30%;
                    float: right;
                    margin-top: -950px;
                    padding: 1%;
                    right:5%;
                    border-radius: 10px;
                    top: 0px;"><strong><%= frame.title %> frame:</strong> <%= frame.description %></aside>
            <% } %>
        <!-- </div> -->
     

        <p>&nbsp;</p>
    </div>
</div>
<script>
    const frames = <%- JSON.stringify(frames) %>
</script>
<script src="/scripts/scan.js"></script>
<script src="/scripts/export.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



