<%- layout('layouts/boilerplate') %>
<div class="row"> 
    <div class="col-6 col-lg-3">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="link"><u style="color: #AC73FC;">CREATE FRAMES</u></a></li>
            <li class="breadcrumb-item active" aria-current="page">SCANNER</li>
            </ol>
        </nav>
    </div>
    <div class="col-6 col-lg-2 offset-lg-2">
        <h2 class="text-center mb-3" style="font-family: 'Archivo Black', sans-serif;">SCANNER</h2>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content border border-2 border-black">
        <div class="modal-header border border-bottom-2 border-black" style="background-color: #D1FA74">
          <h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-family: 'Archivo Black', sans-serif;">YOU MIGHT LOSE YOUR PROGRESS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: #EAFFBA">
          <strong style="font-weight: 500;">Are you sure you want to go back to "Create Frames"?</strong> 
          <br></br>
          Any frame additions, updates, or deletions you make <strong style="font-weight: 500;">will not be reflected</strong> in the scans you have already completed. In other words, if you add a new frame whose words are in texts you have already scanned, they <strong style="font-weight: 500;">will not</strong> be highlighted nor reflected in the pie chart. The scans you have already completed and the results that have been calculated thus far will not change in any way.
        </div>
        <div class="modal-footer border-top-0" style="background-color: #EAFFBA">
          <button type="button" class="btn btn-secondary rounded-pill shadow-sm bg-black border-black" data-bs-dismiss="modal" style="padding: 9px 24px;font-family: 'Archivo Black', sans-serif;">CANCEL</button>
          <a class="btn rounded-pill shadow-sm border-2 border-black" style="background-color: #e77c6c;font-family: 'Archivo Black', sans-serif;" href="/frames">GO TO "CREATE FRAMES" ANYWAY</a>
        </div>
      </div>
    </div>
  </div>



<div class="row"> 
    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <button class="btn rounded-5 shadow-sm mb-2 border border-2 border-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Click to learn how to use!" style="background-color: #BF97F8;padding: 9px 24px">
            <strong style="font-family: 'Archivo Black', sans-serif;">HOW TO USE</strong>
        </button>
    </div>
    <div class="col-6 col-lg-2 offset-lg-4 mb-3 me-4" id="exportBtns">
        <div class="dropdown me-2 ">
            <button class="btn dropdown-toggle rounded-5 shadow-sm border border-2 border-black text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #D1FA74;padding: 9px 24px" title="Click to export files containing (1) your frames and (2) the texts and their titles">
                <strong style="font-family: 'Archivo Black', sans-serif; font-size: 80%;">EXPORT ANALYZED ITEMS</strong> 
            </button>
            <ul class="dropdown-menu rounded-4 shadow-lg" style="background-color: #D1FA74;">
                <li>
                    <a href="" class="dropdown-item" id="exportTxtContentLink" title="Exports file with title and content of text(s) analyzed" style="font-family: 'Archivo Black', sans-serif">Export Text Content</a>
                </li>
                <li>
                    <a href="" class="dropdown-item" id="exportFramesLink" title="Exports your frames so you can reuse them in the future" style="font-family: 'Archivo Black', sans-serif">Export Frames</a>
                </li>
                <li>
                <a class="dropdown-item" href="" id="exportBothContentLink" style="font-family: 'Archivo Black', sans-serif">Export Both</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6 col-lg-2 mb-3" id="exportBtns">
        <div class="dropdown me-2">
            <button class="btn dropdown-toggle rounded-5 shadow-sm border border-2 border-black text-black ms-4" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #D1FA74;padding: 9px 24px" title="Click to export files containing summaries of your scans">
                <strong style="font-family: 'Archivo Black', sans-serif; font-size: 80%;">EXPORT ANALYSIS RESULTS</strong>
            </button>
            <ul class="dropdown-menu rounded-4 shadow-lg" style="background-color: #D1FA74;">
                <li>
                <a href="" class="dropdown-item" id="exportOverallResultsLink" title="export the results of your scans" style="font-family: 'Archivo Black', sans-serif">Export Overall Results</a>
                </li>
                <li>
                <a href="" class="dropdown-item" id="exportArticleResultsLink" title="export the results of your scans" style="font-family: 'Archivo Black', sans-serif">Export Results Per Article</a>
                </li>
                <li>
                <a class="dropdown-item" href="" style="font-family: 'Archivo Black', sans-serif">Export Both</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        <%- include('../partials/howToUseScanBtn') %>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <div class="accordion" id="accordion" style=" display: none; margin-bottom: 50px;">  </div>
    </div>
</div>
    
<div id="results0" style="display: none;">
    <p id="outputText0" class="rounded-text-box border border-1 border-black" style="
        border-radius: 20px; 
        width: 50%;
        min-width: 400px;
        float: left;
        height: auto;
        padding: 3%;
        border-radius: 10px;
        margin-left: 5%;
        background-color: #ffffff;
        margin-bottom: 200px;"> 
    </p>
    <!-- <br></br>
    <h5 style="font-family: 'Archivo Black', sans-serif;">Breakdown of Frames Found</h5> -->
    
    <div class="d-grid gap-2 col-2 mx-auto" id="chartPar0" style="width: 650px; margin-bottom: 50px">
        <canvas id="myChart0" aria-label="pie chart for scan" role="pie chart">
            <p>Pie chart breaking down instances of frames found</p>
        </canvas> 
    </div>
</div>
      
<div class="d-grid gap-2 col-2 mx-auto" id="newScanBtnDiv">
    <button id="newScanBtn" class="btn btn-primary border border-2 border-black text-black" style="display: none; margin-bottom: 40px; background-color: #AC73FC; border-radius: 30px;padding: 9px 24px;font-family: 'Archivo Black', sans-serif; ">SCAN AGAIN</button>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <%- include('../partials/inputForm') %>
    </div>
</div>
        
        
        
        <!-- <div id="frameMessage"   style="display: none; 
                                        color: black;
                                        position: sticky;
                                        width: 30%;
                                        float: right;
                                        margin-top: -950px;
                                        padding: 1%;
                                        right:5%;
                                        border-radius: 10px;
                                        top: 0px;"> -->
            <% for (let frame of frames) {%>
                <aside id="<%= frame._id %>"  style="display: none; 
                    color: black;
                    position: sticky;
                    width: 30%;
                    float: right;
                    margin-top: -950px;
                    padding: 1%;
                    right:5%;
                    border-radius: 10px;
                    top: 0px;"><strong><%= frame.title %></strong> </br>  <%= frame.description %></aside>
            <% } %>
        <!-- </div> -->
     

        <p>&nbsp;</p>
    </div>
</div>
<script>
    const frames = <%- JSON.stringify(frames) %>
</script>
<script src="/scripts/scan.js"></script>
<script src="/scripts/export.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



