<%- layout('layouts/boilerplate') %>
<div class="row">
    <!-- <h1 class="text-center">Scan</h1> -->
    <div class="col-6 offset-3">
        <%- include('../partials/howToUseScan') %>
        <div>
            <p id="outputText" class="rounded-text-box" style="display: none; background-color: #dce0e6;
            border-radius: 20px; padding: 20px; margin-bottom: 40px;"> </p>
        </div>
        <div>
            <button id="newScanBtn" class="btn btn-primary" style="display: none; margin-bottom: 40px;">Scan Again</button>
        </div>
        <form class="mb-3" id="inputForm">
            <div class="mb-3">
                <textarea class="form-control" id="inputText" spellcheck="true" style="height: 350px" placeholder="Enter your article here!"></textarea>
            </div>
            <p>&nbsp;</p>
            <!-- <p><input id="scanArticle" class="btn btn-success btn-large mx-auto" type="button" value="Scan Article" /></p> -->
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-success btn-lg" type="button" id="scanArticleBtn" >SCAN ARTICLE</button>  <!-- onclick="hilitFrames(`<%= frames %>`)" -->
              </div>
            <br />
            <!-- <div class="card text-center d-grid gap-2 col-6 mx-auto" id="clrBlnd">
                <div class="card-body">
                  <h5 class="card-title">Need color-blind friendly colors?</h5>
                  <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked">
                        Yes, please!
                    </label>
                  </div>
                </div>
            </div>             -->
        </form>
        
        <div id="tropeMessage" style="display: none; ">
            <% for (let frame of frames) {%>
                <aside id="<%= frame.title %>"><strong><%= frame.title %> frame:</strong> <%= frame.description %></aside>
            <% } %>
        </div>
     
        <p>
            <canvas id="myChart"></canvas> 
            <script id="chartCDNScript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        </p>

        <p>&nbsp;</p>
    </div>
</div>
<script>
    const frames = <%- JSON.stringify(frames) %>
</script>
<script src="/scripts/scan.js"></script>
<script src="/scripts/newScan.js"></script>
