<%- layout('layouts/boilerplate') %>
<h1><%= frame.title %></h1>
<p>
    Description: <%= frame.description %>
</p>
<p> Words: <%= frame.words %></p>
<p>
    <a href="/frames/<%= frame._id %>/edit">Edit Frame</a>
</p>
<p>
    <form action="/frames/<%= frame._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>
<footer>
    <a href="/frames">All Frames</a>
</footer>
